<%= form_for @bicycle, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :bike_image %><br />
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :remote_avatar_url, "Or remote image URL"%><br />
    <%= f.text_field :remote_avatar_url %>
  </div>
  <div class="field">
    <%= f.label :make %><br />
    <%= f.text_field :make %>
  </div>
  <div class='field'>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
