<li class="clearfix">
  <div class="bike_avatar">
    <%= image_tag bicycle.avatar, :size => "50x30" %> <! bike image >
  </div>
  <div class="bike_info">
    <strong>Make: </strong><%= bicycle.make %> <! bike make>
    <strong>Model: </strong><%= bicycle.model %> <! bike model>
    <strong>Color: </strong><%= bicycle.color %> <! bike color>
    <strong>Serial: </strong><%= bicycle.serial_number %> <! bike serial number>
  </div>
</li>
